.clients {
  background-image: linear-gradient(#eeeeee, #ffffff 10%);
  padding: 1.2rem 0;

  &_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  &_badge {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    position: relative;
    height: 100px;

    a {
      display: flex
    }

    img {
      align-self: center;
      height: auto;
      max-width: auto;
      padding: 1rem;
      width: 100%;
    }

    &:hover .clients_info {
      visibility: visible;
    }

    &:hover .greyscale {
      display: none;
    }

    &:hover .colored {
      display: inline-block;
    }
  }

  &_info {
    position: absolute;
    visibility: hidden;
    background: $base;
    color: white;
    font-size: 0.8rem;
    padding: 1rem 1rem 1rem 1.5rem;
    text-align: center;
    bottom: 119px;
    left: -300px;
    right: -300px;
    margin-left: auto;
    margin-right: auto;
    width: 250px;

    h3 {
      font-size: 1.2rem;
    }

    &_rule {
      background-color: white;
      width: 30px;
      height: 3px;
      margin: 1rem auto;
      text-align: center;
    }

    &:after {
      content: "";
      width: 0;
      height: 0;
      border-left: 20px solid transparent;
      border-right: 20px solid transparent;
      border-top: 30px solid $base;
      position: absolute;
      bottom: -29px;
      left: -300px;
      right: -300px;
      margin-left: auto;
      margin-right: auto;
    }
  }
}