$height: 3.5rem;

.header {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: relative;
}

.topbar-and-nav {
  flex: 0 1 auto;
}

.topbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0.5rem auto;

  &_logo {
    left: 0;
  }

  &_btn_phone {
    font-size: 20px;
    color: $base;
  }

  &_btn_link {
    display: none;
  }

  .topbar_btn_contact,
  .topbar_btn_support {
    height: $height;
    margin-right: 1.5rem;
  }

  &_menu {
    display: inline;
    padding: 0.7rem 0.7rem !important;
    margin-right: -1rem !important;
    font-size: 0.8rem !important;
    line-height: 1;
    height: $height;

    &_rule {
      background-color: white;
      width: 100%;
      height: 2.5px;
      margin-bottom: 0.3rem; 
      transition: all 0.5s ease-in-out;
    }

    .open-middle {
      transform: rotate(720deg);
      background: transparent;
    }

      .open-top {
        width:30px;
        transform: rotate(45deg) translate(6px, 0px);
      }

      .open-bottom {
        width: 30px;
        transform: rotate(-45deg) translate(10px, -5px);
      }
  }

  &_btns {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 1rem 1rem;
    overflow-x: hidden;
  }

  &_search {
    margin-right: 1.5rem;
    width: 260px;
    height: $height;

    &_input {
      padding: 19px;
      border: 1px solid #ccc;
      box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
      float: left;
      height: $height;
      background: #ffffff;
      width: 200px;
      font-size: 0.9rem;
      color: #333;

      &:focus {
        border-color: #5bc0de;
        outline: 0;
        box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(91,192,222,.6);
      }
    }

    button {
      height: $height;
      background: #999aa2;
      color: white;
      float: left;
      border: 1px solid grey;
      border-left: none;
      cursor: pointer;
      border-radius: 0 .25rem .25rem 0;
      padding: 1rem;
      font-size: 23px;
      width: 60px;

      &:hover {
        background: darken(#999aa2, 10%)
      }
    }

    &:after {
      content: "";
      clear: both;
      display: table;
    }
  }

  &_search_xs {
    display: flex;
    margin: 0 0 1rem 0;
    height: 2.75rem;
    align-items: center;

    &_input {
      height: 2.75rem;
      padding: 10px;
      border: 3px solid #cccccc;
      border-radius: 2px 0 0 2px;
      float: left;
      border-right: none;
      background: #e5e5e5;
      width: 100%;

      &:focus {
        outline: none;
      }
    }

    button {
      display: inline;
      background: #eeeeee;
      color: $base;
      float: left;
      border: 3px solid #cccccc;
      border-left: none;
      cursor: pointer;
      border-radius: 0 2px 2px 0;
      font-size: 23px;
      margin-right: 0px;
      height: 2.75rem;
      padding-right: 10px;
    }

    &:after {
      content: "";
      clear: both;
      display: table;
    }
  }
}