.latest {
  
  @include latestcolor($themes);
  position: relative; 

  &_title {
    font-variant: small-caps;
    margin: 2rem 0;
    font-weight: 700;
    font-size: 1.6rem;
  }
  &_rule {
    background-color: black;
      width: 72px;
      height: 5px;
  }
  &_background {
    background-image: linear-gradient(#dddddd, #ffffff);
  }
  &_container {
    
    padding-top: 3rem;
    padding-bottom: 3rem;
    display: grid;
    column-gap: 2rem;
    row-gap: 2rem;
    
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    

    &-body {
      padding: 2rem;
      display: flex;
      flex-direction: column;
    }
  }

  &_img_container {
    overflow: hidden;
  }

  &_topiclink {
    font-variant: small-caps;
    font-weight: 700;
    color: white;
    position: absolute;
    right: 0;
    top: 1rem;
    padding: 0.1rem 0.5rem;

    &:hover {
      color: white;
      text-decoration: underline;
    }
  }

  &_titlelink {
    font-weight: 700;
  }

  &_firstlines {
    font-weight: 300;
    font-size: .8rem;
    line-height: 1.3rem;
    padding-top: 1rem;
    min-height: 4.9rem;
  }
  button {
    font-size: 1.1rem;
      padding: .5rem 1rem;
      margin-top: auto;
      margin-bottom: 0.8rem;
  }
  &_article_rule {
    margin-top:1rem;
  }
  &_byline {
    border-top: 1px solid gray;
    padding-top: 1rem;
    display: flex;
    align-items: center;
  }
  &_authorimg {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    margin-right: 20px;
  }
  &_postedby {
    font-weight: 700;
    margin-bottom: 0;
  }
  &_posteddate {
    font-weight: 300;
    margin-bottom: 0;
  }
}