.nav {
  
  background-image: linear-gradient(#333645 100px, pink 100px);
    
    
  @include dropdown1($themes);
  
  &_list {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
    

    &_item_sublist { grid-area: 3 / 1 / 4 / 7; }
    margin-bottom: 0 !important;

    .nav-item-cybs {
      border-right: 1px gray solid;
    }
    &_item {
      background: #333645;
      grid-row-start: 1;
      grid-row-end: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: white;
      text-transform: uppercase;
      border-left: 1px gray solid;
      
      .icn {
        @include icntheme($themes);
      }
      i {
        margin-top: 1rem;
        margin-bottom: 0.5rem;
      }
      span {
        font-size: 0.6rem;
        margin: 0 auto;
      }
      span:last-child {
        font-size: 1.2rem;
        margin-bottom: 1rem;
      }

      &:hover i, &:hover {
        color: white;
      }

      &_sublist {
        z-index: 3;
        visibility: hidden;
        display: flex;
        margin: 0 !important;
        justify-content: space-around;
        align-items: center;

    
        a {
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }
}



/* .nav_list_item_sublist:before {
  content: "";
  display: inline-block;
  background-color: red;
  position: absolute;
  width: 100vw;
  height: 50px;
  left: 100%;
  z-index: 2;
} */

#colorBlock {
  width: 200px;
  height: 200px;
  color: red;
}