.nav {
  &_bar_container {
  background-color: $base;
  display: grid !important;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr minmax(95%, 850px) 1fr;
  justify-content: center;
  align-items: stretch;
  margin: 0;
  padding: 0;
  }

  &_list {
    grid-area: 1 / 2 / span 2 / span 1
  }

  &_sub {
    width: 100%;
    height: 50px;
    grid-area: 3 / 1 / span 1 / span 3;
    z-index: 1000;
  }

  &_list {
    height: 100px;
    margin-bottom: 0 !important;
    border-left: 1px solid hsla(0,0%,100%,.1);
    border-right: 1px solid rgba(0,0,0,.25);

    .nav-item-cybs {
      border-right: 1px rgba(128, 128, 128, 0.568) groove;
    }

    &_item {
      background: #333645;
      grid-row-start: 1;
      grid-row-end: 3;
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      color: white;
      text-transform: uppercase;
      border-right: 1px solid hsla(0,0%,100%,.1);
      border-left: 1px solid rgba(0,0,0,.25);

      .icn {
        @include icntheme($themes);
      }

      i {
        margin-top: 1.2rem;
        margin-bottom: 0.5rem;
      }

      span {
        font-size: 0.6rem;
        margin: 0 auto;
      }

      span:last-child {
        box-sizing: content-box;
        font-size: 1.2rem;
      }

      &:hover i,
      &:hover {
        color: white;
      }

      &_sublist {
        z-index: 3;
        visibility: hidden;
        display: flex;
        height: 100%;
        justify-content: left;
        align-items: stretch;

        &_item {
          display: flex;
          align-items: center;
          justify-content: left;
          
          &:not(:first-child):before {
            content: "";
            padding-left: 20px;
          }
          &:not(:last-child):after {
            content: "-";
            padding-left: 20px;
          }
        }

        a {
          color: white;
          text-transform: uppercase;
        }
      }
    }
  }
}