@include media-xs {

  .clients {
    display: none;
  }

  .partners {
    display: none;
  }

  .topbar_search {
    display: none !important;
  }

  .topbar img {
    max-width: 100%;
  }

  .topbar_logo_link {
    flex-shrink: 3;
  }

  #latest_1 {
    padding-bottom: 1.5rem;
  }

  #latest_2 {
    padding-bottom: 1.5rem;
  }
}

@media screen and (max-width: 989px) {

  nav {
    display: none !important;
  }

  .topbar_btn_link {
    display: none;
  }

}

@include media-sm {
  .standard {
    width: 700px;
  }

  .topbar {
    &_btn_phone {
      display: none !important;
    }

    &_logo {
      width: 300px;
    }

    &_search_xs {
      display: none !important;
    }
  }


  #serv-tele,
  #serv-cybs {
    padding-right: 0.75rem !important;
  }

  #serv-webd,
  #serv-devt {
    padding-left: 0.75rem !important;
  }

  .small-buffer, #tele-buffer {
    display: block !important;
  }

  #latest_1 {
    padding-right: .75rem !important;
  }

  #latest_2 {
    padding-left: .75rem !important;
  }

  #latest_3 {
    display: none !important;
  }

  .footer_container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@include media-med {
  .standard {
    width: 881px;
  }

  .topbar_btn_link {
    display: inline-block;
  }

  .topbar_search {
    width: 60px;

    &_input {
      display: none;
      opacity: 0;
    }

    button {
      border-left: 1px solid grey !important;
      border-radius: .25rem !important;
    }
  }

  nav {
    display: block;
  }

  .nav_sub {
    font-size: 0.8rem;
  }

  .slider {
    margin-top: -50px;
    text-align: left !important;
  }

  .sidebar_mobile {
    display: none;
  }

  #serv-besp,
  #serv-it {
    padding-right: 0.75rem !important;
  }

  #serv-it,
  #serv-digm {
    padding-left: 0.75rem !important;
  }

  .small-buffer, #tele-buffer {
    display: none !important;
  }

  #med-buffer {
    display: block !important;
  }

  .intro {
    background-image: url("https://www.netmatters.co.uk/assets/images/branded.png") !important;
    background-repeat: no-repeat !important;
    background-position: 100% !important;
    background-size: auto 100% !important;
  }

  .latest_img {
    transition: all 0.3s ease-in-out;

    &:hover {
      transform: scale(1.2);
      opacity: 0.6;
    }
  }

  #form_name {
    padding-right: 0.75rem !important;
  }

  #form_email {
    padding-left: 0.75rem !important;
  }
}

@include media-lg {
  .standard {
    width: 1137px;
  }

  .topbar_search {
    width: 265px;
    &_input {
      display: inline-block !important;
      width: 200px !important;
      opacity: 1;
    }

    button {
      border-left: none !important;
      border-radius: 0 .25rem .25rem 0 !important;
    }

  }

  .topbar_logo {
    width: initial;
  }

  .nav_sub {
    font-size: 1rem;
  }

  #serv-webd {
    padding-right: 0.75rem !important;
  }

  #serv-cybs {
    padding-left: 0.75rem !important;
  }

  #med-buffer {
    display: none !important;
  }

  .my-col-xl-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .my-col-xl-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
  }

  .intro_text_first,
  .intro_text_para {
    width: 570px;
  }

  #latest_1 {
    padding-right: 1rem !important;
  }

  #latest_2 {
    padding-left: .5rem !important;
    padding-right: .5rem !important;

  }

  #latest_3 {
    display: inline-block !important;
    padding-left: 1rem !important;
  }

  .clients {
    padding: 1rem 0 !important;

    &_logo {
      padding: 2rem !important;
    }

    &_badge {
      height: 150px !important;
    }

    &_info {
      bottom: 166px !important;
    }
  }

  .footer_container {
    grid-template-columns: repeat(4, 1fr);
  }
}