@include media-xs {

  .clients {
    display: none;
  }
  .partners {
    display: none;
  }

}

@media screen and (max-width: 989px) {
  .topbar_btn_contact {
    display: none !important;
  }
  .topbar_btn_support {
    display: none !important;
  }
  .nav {
    display: none;
  }
}

@include media-sm {
  .standard {
    width: 700px;
  }

  .topbar_btn_phone {
    display: none !important;
  }


  .services {
    &_upper {
      grid-template-columns: 1fr;
    }
    &_lower {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@include media-med {
  .standard {
    width: 850px;
  }
  .topbar_btn_contact {
    display: inline-block;
  }
  .topbar_btn_support {
    display: inline-block;
  }
  .nav {
    display: block;
  }

  .services {
    &_upper {
      grid-template-columns: repeat(3, 1fr);
    }
    &_lower {
      grid-template-columns: repeat(2, 1fr);
    }
  }
  
}

@include media-lg {
  .standard {
    width: 1170px;
  }

  .intro_text_first, .intro_text_para {
    width: 570px;
  }
  .services {
    &_upper {
      grid-template-columns: repeat(3, 1fr);
    }
    &_lower {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
