.services {
  background: radial-gradient(#eeeeee, #ffffff);
  padding-top: 2rem;
  padding-bottom: 2rem;

  .col-xs-12 {
    padding-right: 0 !important;
    padding-left: 0 !important;
  }

  &_item {
    border: 1px solid #dddddd;
    border-radius: 3px;
    padding: 1.75rem;
    margin: 0.75rem auto;
    text-align: center;
    color: black;
    box-shadow: 0 3px 35px rgba(0,0,0,.1);

    @include switchthemes($themes);

    .card-body {
      padding: 0 !important;
    }

    &_btn {
      font-size: 1.1rem;
      padding: .5rem 1rem !important;
      margin-top: auto;
    }

    &_title {
      margin-top: 1rem;
      font-weight: 400;
      font-size: 1.1rem;
    }

    &_rule {
      background-color: black;
      margin: 1.1rem auto;
      width: 27px;
      height: 3px;
    }

    &_text {
      font-size: 0.8rem;

      .small-buffer {
        display: none;
      }

      #med-buffer {
        display: none;
      }
    }
  }
}