.services {
  display: grid;
  background: radial-gradient(#eeeeee, #ffffff);

  &_upper {
    display: grid;
    justify-items: stretch;
    column-gap: 2rem;
  }

  &_lower {
    display: grid;
    justify-items: stretch;
    column-gap: 2rem;
  }
  
  &_item {
    border: 1px solid #dddddd;
    border-radius: 3px;
    width: 100%;
    padding: 2rem;
    margin: 1rem auto;
    text-align: center;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;

    @include switchthemes($themes);

    button {
      font-size: 1.1rem;
      padding: .5rem 1rem;
      margin-top: auto;
    }

    &_title {
      margin-top: 1rem;
      font-weight: 400;
      font-size: 1.1rem;
    }

    &_rule {
      background-color: black;
      margin: 1.1rem auto;
      width: 27px;
      height: 3px;
    }

    &_text {
      font-size: 0.8rem;
    }
  }
}

.icon-background {
  color: pink;
}