.slider {
  background-image: linear-gradient(
    to right,
    rgba(black, 0.9),
    rgba(black, 0.3)
  ),url(https://www.netmatters.co.uk/assets/images/thumbnails/full_height_slideshow/home-sqvx.jpg);
  padding: 6rem 0 3.1rem 0;
  text-align: center;
  color: white;
  border-top: 0.5px solid #eeeeee;

  &_title {
    text-transform: uppercase;
    font-size: 3rem;
  }

  &_text {
    font-size: 1.2rem;
    margin: 2rem auto;
  }

  &_btn {
    font-size: 1.2rem;
  }

  &_circles {
    display: grid;
    grid-template-columns: repeat(6, 20px);
    column-gap: 12px;
    margin-top: 4rem;
    justify-content: center;
    &_circle {
      width: 12px;
      height: 12px;
      border-radius: 50%;
      background-color: lighten($base, 50%);
      opacity: 40%;
      &:hover {
        background-color: lighten($base, 10%);
        opacity: 100%;
        cursor: pointer;
      }
    }
  }
}

