$themes: ('webd': #926fb1,
  'it': #4183d7,
  'tele': #d64541,
  'besp': #67809f,
  'digm': #2ecc71,
  'cybs': #f62459,
  'contact': #999aa2,
  'devt': #926fb1,
  'culture': #ffffff,
  'base': #333645,
);

$base: #333645;

@mixin themes($map) {

  @each $theme,
  $color in $map {
    &-bg-#{$theme} {
      color: white;
      background-color: $color;

      &:hover {
        background-color: darken($color, 10%);
        color: white;
      }
    }

    &-fg-#{$theme} {
      color: $color;

      &:hover {
        color: darken($color, 10%);
      }
    }
  }
}

@mixin switchthemes($map) {

  @each $theme,
  $color in $map {
    &-#{$theme} {
      background-color: white;

      .fa-circle {
        color: $color;
      }

      .fa-stack-1x {
        color: white;
      }

      button {
        color: white;
        background-color: $color;
      }
    }

    &-#{$theme}:hover {
      background-color: $color;
      color: white;

      .fa-circle {
        color: white;
      }

      button,
      .services_item_rule {
        background-color: white;
        color: $color;
      }

      .fa-stack-1x {
        color: $color;
      }
    }
  }
}


@mixin hovertheme($map) {

  @each $theme,
  $color in $map {
    &-#{$theme}:hover {
      background-color: $color;
    }
  }
}

@mixin icntheme($map) {

  @each $theme,
  $color in $map {
    &_#{$theme} {
      color: $color;
    }
  }
}

@mixin latestcolor($map) {

  @each $theme,
  $color in $map {
    &-#{$theme} {
      .latest_topiclink {
        background-color: $color;
      }

      button {
        color: white;
        background-color: $color;

        &:hover {
          background-color: darken($color, 10%);
          color: white;
        }
      }

      .latest_titlelink {
        color: $color;
      }
    }
  }
}

$breakpoints: ('xs': 766px,
  'sm': 767px,
  'med': 990px,
  'lg': 1260px,
);

@mixin media-xs {
  @media screen and (max-width: 766px) {
    @content;
  }
}

@mixin media-sm {
  @media screen and (min-width: 767px) {
    @content;
  }
}

@mixin media-med {
  @media screen and (min-width: 990px) {
    @content;
  }
}

@mixin media-lg {
  @media screen and (min-width: 1260px) {
    @content;
  }
}